body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;

  background-color: #333232;
}


header {
  display: block;
  border: solid wheat 2px;
  border-radius: 10px; 
  
}



main {
  justify-items: center;
  justify-self: center;
  
}


h1,h2,h3,h4,h5,h6 {
  color: wheat;
  
}

input {
  font-size: 50px;
  text-align: center;
  border: transparent;
  border-radius: 30px;
  width: 25rem;
  
}

button {
  background-color: wheat;
  
  height: 80px;
  width: 80px;
  border-radius: 100px;
  border-color: transparent;

  font-size: large;


}


button:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px;
}

button:active {
  transform: scale(1);
  
}



.btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
}

.navbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tools, #info {
  background-color: transparent;
  box-shadow: none;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-left: -20px;
  
  
  
}

.navicons{
    filter: invert(100%);
    
}


#clear {
  background-color: orange;
}





/* Dropdown menu */
.dropdown {
  position: relative;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 10%; /* below the button */
  left: 0;
  background: #333;
  min-width: 70px;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.dropdown-content li a {
  display: block;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  
}

.dropdown-content li a:hover {
  background: wheat;
  color: #333;
}

/* Show on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: block;
  border: solid wheat;
  border-radius: 10px; 
  margin-left: 10px;
}


#options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

#options button {
  font-size: 1.4rem;
  font-weight: bold;
}

#roll {
  margin-top: 100px;
  width: 10rem;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  
}

